<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49875878500-hjgkhn47rqo96ulh94cia8bo90qvp0as.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49875878500-hjgkhn47rqo96ulh94cia8bo90qvp0as</string>
	<key>API_KEY</key>
	<string>AIzaSyAcms6lPLaIyRmz7zihbmrSOEvzDnbDqCc</string>
	<key>GCM_SENDER_ID</key>
	<string>49875878500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.expresstacy.ConsciousChat</string>
	<key>PROJECT_ID</key>
	<string>consciouschat-892cf</string>
	<key>STORAGE_BUCKET</key>
	<string>consciouschat-892cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49875878500:ios:4f906986423d0b7ba75571</string>
	<key>DATABASE_URL</key>
	<string>https://consciouschat-892cf.firebaseio.com</string>
</dict>
</plist>